<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>全球新冠肺炎形势图</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/china.js"></script>
    <script type="text/javascript" src="../static/js/echarts-gl.min.js"></script>
    <script type="text/javascript" src="../static/js/world.js"></script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
</head>

<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width:100%;height:700px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        //var myChart = echarts.init(document.getElementById('main'));
        $(document).ready(function () {

            fenbu();

        });

        var dataUrlBackup = '../static/js/';
        //分布地图
        var fenbu = function () {
            $.ajax({
                // url: dataUrl1 + 'api/area',
                url: '/read_json/series.json',
                type: 'get',
                success: function (res) {
                    if (res.success === true) {
                        {#console.log(res)#}
                        var chartData = res.results;
                        var date = [];
                        var name = [];
                        var value = [];
                        var dataa = [];
                        var seriesdata = [];

                        {#1.获取所有日期#}
                        for (var i in chartData) {
                            //获取历史日期
                            var datetime = chartData[i].time;
                            date.push(datetime);
                            //                  	var country=chartData[i].Country;
                            //                  	var confirm=chartData[i].Confirmed;
                            //                  	
                            //						
                            //						data.push({name:country,value:confirm});
                            //						seriesdata.push({timee:datetime,dataa:data});
                            //uniqueArray(date);
                        }
                        {#2. dataaa 是全部的数据，一个天的所有国家的数据为一个[],格式是[[],[],[]]#}
                        for (var j in date) {
                            var shuju = chartData[j].data;
                            //数据list[]
                            dataa.push(shuju);
                        }
                        {#3. dataa[1]是2020年1月23日的数据，这里是获取国家名 #}
                        for (var j in dataa[1]) {
                            var coun = dataa[1][j].Country;
                            name.push(coun);
                        }

                        {#4. 开始遍历数据#}
                        for (var i in dataa) {
                            {# zhongjian变量是某一天的所有国家的数据#}
                            var zhongjian = dataa[i];

                            for (var j in zhongjian) {
                                var shu = zhongjian[j].Confirmed;
                                value.push(shu);
                            }
                            // 确诊数据,二维列表，一行为某一天数据，某一行某一列为某一国家的某一天的确诊数据
                            seriesdata[i] = value;
                            // 清空列表
                            value = [];
                        }
                        console.log(seriesdata);
                        /*
                         * JSON数组去重
                         * @param: [array] json Array
                         * @param: [string] 唯一的key名，根据此键名进行去重
                         */
                        //					function uniqueArray(classesArray){
                        //					        for (var i = 0; i < classesArray.length; i++) {
                        //							for (var j =i+1; j <classesArray.length; ) {
                        //							    if (classesArray[i].shijian == classesArray[j].shijian ) {//通过id属性进行匹配；
                        //							    classesArray.splice(j, 1);//去除重复的对象；
                        //							    }else {
                        //							    j++;
                        //							    }
                        //							}
                        //
                        //					    }
                        //					    return classesArray;
                        //					}
                        //					

                        initDetailChart(date, seriesdata, name);
                        return;
                    }
                    alert("获取数据失败");
                }, error: function (res) {
                    if (res.state() === "rejected" && !this.url.includes(dataUrlBackup1)) {
                        this.url = this.url.replace(dataUrl1, dataUrlBackup1);
                        $.ajax(this);
                    }
                }
            });

            var initDetailChart = function (date, data, name) {
                var orderTraceContainer = echarts.init(document.getElementById('main'));
                orderTraceContainer.showLoading({
                    text: '加载中...',
                    effect: 'whirling'
                });

                var days = date;
                //var province = ['湖北', '广东', '浙江', '湖南', '河南', '安徽', '重庆', '山东', '江西', '四川', '江苏', '北京', '福建', '上海', '广西', '河北', '陕西', '云南', '海南', '黑龙江', '辽宁', '山西', '天津', '甘肃', '内蒙古', '新疆', '宁夏', '吉林', '贵州', '青海', '西藏', '澳门', '香港', '台湾'];
                //国家名
                var province = name;
                var data = data;

                var sum = [];

                for (var i = 0; i < data.length; i++) {
                    // sum[i] = 0;
                    var leiji = 0;
                    for (var j = 0; j < data[i].length; j++) {
                        leiji = leiji + data[i][j];
                        // sum[i] = sum[i] + 
                        sum[i] = leiji;
                        {#console.log("i="+i+" j="+j+" sum="+leiji)#}
                    }

                }

                var yqyData = [days, sum]

                option = {
                    baseOption: {

                        timeline: {
                            axisType: 'category',
                            // realtime: false,
                            // loop: false,
                            autoPlay: true,
                            playInterval: 1000,
                            symbolSize: 12,
                            left: '5%',
                            right: '5%',
                            bottom: '0%',
                            width: '90%',
                            // controlStyle: {
                            //     position: 'left'
                            // },
                            data: days,
                            tooltip: {
                                formatter: days
                            },
                        },

                        tooltip: {
                            show: true,
                            formatter: function (params) {
                                return params.name + '：' + params.data['value']
                            },
                        },

                        visualMap: {
                            type: 'piecewise',
                            pieces: [{
                                min: 500001,
                                color: '#73240D'
                            },
                            {
                                min: 100001,
                                max: 500000,
                                color: '#BB0000'
                            },
                            {
                                min: 10001,
                                max: 100000,
                                color: '#BD430A'
                            },
                            {
                                min: 1001,
                                max: 10000,
                                color: '#E08150'
                            },
                            {
                                min: 101,
                                max: 1000,
                                color: '#E9B090'
                            },
                            {
                                min: 1,
                                max: 100,
                                color: '#F2DDD2'
                            },
                            {
                                value: 0,
                                color: 'white'
                            }
                            ],
                            orient: 'vertical',
                            itemWidth: 25,
                            itemHeight: 15,
                            showLabel: true,
                            seriesIndex: [0],
                            text: ["高", "低"],
                            textStyle: {
                                color: '#7B93A7'
                            },
                            bottom: '10%',
                            right: "3%",
                        },

                        grid: [{
                            left: '10%',
                            top: '9%',
                            bottom: '8%',
                            width: '50%'
                        },
                        {
                            right: '5%',
                            top: '12%',
                            bottom: '75%',//应该去了
                            width: '0%'
                        }],
                        xAxis: [{
                            'type': 'value',//相对定位
                            splitNumber: 8,
                            // min: 0,
                            //  max: 3000000,//bar的横轴,绝对定位
                            show: false
                        }, {
                            //  data: yqyData[0],
                            gridIndex: 1
                        }], //折线图x轴数据赋值，指定坐标信息,
                        yAxis: [{
                            inverse: true,
                            offset: '2',
                            'type': 'category',
                            data: '',
                            nameTextStyle: {
                                color: 'green'
                            },
                            axisTick: {
                                show: false,
                            },
                            axisLabel: {
                                //rotate:45,
                                textStyle: {
                                    fontSize: 14,
                                    color: 'green',
                                },
                                interval: 0
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#green'
                                },
                            },
                            splitLine: {
                                show: false,
                                lineStyle: {
                                    color: '#green'
                                }
                            },
                        },
                        {
                            inverse: false,
                            offset: '2',
                            'type': 'category',
                            nameTextStyle: {
                                color: '#000'
                            },
                            axisTick: {
                                show: false,
                            },
                            axisLabel: {
                                //rotate:45,
                                show: false,
                                textStyle: {
                                    fontSize: 14,
                                    color: '#000000',
                                },
                                interval: 'auto'
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: '#333'
                                },
                            },
                            splitLine: {
                                show: false,
                                lineStyle: {
                                    color: '#333'
                                }
                            },
                            gridIndex: 1
                        }],
                        //      geo: {
                        //          map: 'world',
                        //          right: '35%',
                        //          left: '5%',
                        //          label: {
                        //              emphasis: {
                        //                  show: false,
                        //              }
                        //          },
                        //          itemStyle: {
                        //              emphasis: {
                        //                  areaColor: '#00FF00'
                        //              }
                        //          }
                        //      },
                        geo: {
                            map: "world",
                            roam: true,
                            scaleLimit: {
                                min: 0.5,
                                max: 5
                            },
                            zoom: 1,
                            top: 90,
                            left: 300,
                            label: {
                                normal: {
                                    show: !1,
                                    fontSize: "5",
                                    color: "rgba(0,0,0,0.7)"
                                }
                            },
                            itemStyle: {
                                normal: {
                                    //shadowBlur: 50,
                                    //shadowColor: 'rgba(0, 0, 0, 0.2)',
                                    borderColor: "rgba(0, 0, 0, 0.2)"
                                },
                                emphasis: {
                                    areaColor: "#f2d5ad",
                                    shadowOffsetX: 0,
                                    shadowOffsetY: 0,
                                    borderWidth: 0
                                }
                            }
                        },
                        series: [ {
                                name: 'mapSer',
                                type: 'map',
                                map: 'world',
                                roam: true,
                                geoIndex: 0,
                                label: {
                                    show: false,
                                },
                            },
                            {
                                'name': '',
                                'type': 'bar',
                                zlevel: 2,
                                barWidth: '40%',
                                label: {
                                    normal: {
                                        show: true,
                                        color: 'green',
                                        fontSize: 14,
                                        position: 'right',
                                        formatter: '{c}'
                                    }
                                },
                            }
                        ],},
                    animationDurationUpdate: 3000,
                    animationEasingUpdate: 'quinticInOut',
                    options: []
                };
                for (var n = 0; n < days.length; n++) {

                    var res = [];
                    for (j = 0; j < data[n].length; j++) {
                        res.push({
                            name: province[j],
                            value: data[n][j]
                        });
                    }

                    res.sort(function (a, b) {
                        return b.value - a.value;
                    }).slice(0, 6);

                    res.sort(function (a, b) {
                        return a.value - b.value;
                    });


                    var res1 = [];
                    var res2 = [];
                    //左侧显示多少条数据
                    for (t = 0; t < 30; t++) {
                        res1[t] = res[res.length - 1 - t].name;
                        res2[t] = res[res.length - 1 - t].value;
                    }
                    //  console.log(res2);
                    //  console.log("----------------");
                    // console.log(province);
                    option.options.push({
                        title: [{
                            text: days[n] + ' 日全球COVID-19确诊人数：' + sum[n] + '人',
                            textStyle: {
                                color: '#2D3E53',
                                fontSize: 28
                            },
                            left: '35%',
                            top: 10
                        },
                        {
                            show: true,
                            text: '累计确诊前三十',
                            textStyle: {
                                color: '#2D3E53',
                                fontSize: 18
                            },
                            left: '5%',
                            top: '5%'
                        }],
                        yAxis: {
                            data: res1,

                        },
                        series: [{
                            type: 'map',
                            data: res
                        }, {
                            type: 'bar',
                            data: res2,
                            itemStyle: {
                                normal: {
                                    color: function (params) {
                                        // build a color map as your need.
                                        var colorList = [{
                                            colorStops: [{
                                                offset: 0,
                                                color: '#FF0000' // 0% 处的颜色
                                            }, {
                                                offset: 1,
                                                color: '#990000' // 100% 处的颜色
                                            }]
                                        },
                                        {
                                            colorStops: [{
                                                offset: 0,
                                                color: '#00C0FA' // 0% 处的颜色
                                            }, {
                                                offset: 1,
                                                color: '#2F95FA' // 100% 处的颜色
                                            }]
                                        }
                                        ];
                                        if (params.dataIndex < 10) {
                                            return colorList[0]
                                        } else {
                                            return colorList[1]
                                        }
                                    },
                                }
                            },
                        }]
                    });
                }


                //去除默认的鼠标事件
                document.oncontextmenu = function () { return false; };
                //新加上鼠标右击事件

                orderTraceContainer.hideLoading();
                orderTraceContainer.setOption(option);
                //          window.addEventListener("resize",function(){
                //		       	 	orderTraceContainer.resize();});
            }
        };



        // 上边换了
      //myChart.setOption( option);
    </script>
</body>

</html>